@font-face {
  font-family: 'gr';
  src: url('fonts/gr-book.woff') format('woff');
}

* {
  box-sizing: border-box;
}

::selection {
  /* https://github.com/electron/electron/issues/4420 */
  background:transparent;
}

html {
  /*background: url(images/universe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  font-family: 'gr';
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

section > video {
  width: 100%;
  height: 100%;
}

table {
  display: block;
  margin: 10vh;
  width: 80vh;
  height: 80vh;
  overflow: scroll;
  color: #777;
}

td {
  padding: 5px;
}

table a {
  color: black;
  text-decoration: none;
}

section > img, figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*text-transform: uppercase;*/
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: 6vw;
  padding: 4vw 0;
}

h1,h2,h3,h4,h5,h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,h2 {
  font-size: 8vw;
}

#platforms {
  background: white;
}

#hammer {
  background-color: #ed8542;
}

.uppercase {
  text-transform: uppercase;
}

/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}*/
