@font-face {
  font-family: 'gidole';
  src: url('fonts/gidolinya-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'apex new', 'DIN Condensed', 'gidole';
  margin: 0;
  padding: 0;
  position: relative;
  background: #191F21;
  color: white;
}

section {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: block;
  /*display: none;*/
}

section.active {
  display: block;
}

section > video {
  width: 100%;
  height: 100%;
}

aside {
  display: none;
  font-family: 'helvetica neue', helvetica, arial;
  text-align: center;
}

/*section.active aside {
  display: block;
}*/

figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
}

figure img, figure video {
  max-height: 60vh;
  max-width: 80vw;
  width: auto;
  height: auto;
}

figure.gallery img {
  max-height: 60vh;
  max-width: 80vw;
  width: 16vh;
  height: 16vh;
  margin: 2vh;
  filter: grayscale(100%);
}

pre {
  text-align: left;
}

code {
  font-family: "Droid Sans Mono", Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
  line-height: 1.4;
  font-size: 4vw;
}

.code {
  background: #191F21;
  color: #F28127;
}

.code.green {
  color: #5EAF6E;
}
section.colorful {
  color: white;
  background-color: rgb(245, 169, 187)
}

section.dark {
  background: black;
}

section.darkish {
  background: #191F21;
}


section.dark h2 {
  color: white;
  opacity: 0.7;
}

.javascript-yellow {
  background-color: #f7df1e;
}

figcaption {
  margin-top: 3vw;
  font-size: 3.5vw;
  font-weight: 500;
  opacity: 0.6;
  white-space: nowrap;

  /* Use same height and line-height so element will retain it's size even
  when it has no textContent (because it's about to be typewritten) */
  height: 8vh;
  line-height: 8vh;
  text-transform: uppercase;
}

.colorful figcaption {
  opacity: 1;
}

h1,h2,h3,h4,h5,h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  line-height: 1.1;
}

figure h1, figure h2 {
  position: relative;
}

h1 {
  font-size: 12vw;
  font-weight: 500;
  color: white;
}

h2, h3 {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 6vw;
  opacity: 1;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

small {
  opacity: 0.6;
}

.faint {
  opacity: 0.4;
}

img.full-screen {
  object-fit: cover;
  width: 100%;
  height: 100%
}

ul.perks {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.perks li {
  display: inline-block;
  width: 100%;
  line-height: 1.6;
  font-size: 4vh;
  white-space: nowrap;
}